<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{! <link rel="icon" href="/favicon.ico" /> }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="//fonts.googleapis.com/css?family=Raleway:300,400,600"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css" />
  </head>
  <body>
    <main class="container">
      <div class="article-teasers">
      {{#pages}}
        <a href="{{path}}" class="article-teaser">
          <div class="article-teaser-info">
            <span>{{formatDate meta.date "MMM d|',' yyyy"}}</span>
            <span>⸰</span>
            <span>{{readTime.text}}</span>
          </div>
          <div class="article-teaser-title">{{meta.title}}</div>
          <p class="article-teaser-synopsis">{{meta.synopsis}}</p>
        </a>
      {{/pages}}
      </div>
    </main>
  </body>
</html>